body{
    color: red;
}
o{
    color: blue;
}

.ab{
    background-color: rgba(67, 112, 153, 0.301);
    /* background-image: url("img/home1.jpg"); */
    background-repeat: no-repeat;
	background-size: cover;
}
.navbar-default {
    background-color:rgb(31, 86, 197);
    border-color: #e7e7e7;
  }
a{
    font-family:'Merriweather', serif;
    font-size: 1.7em;
}
a.navbar-brand{
    font-family:'Merriweather', serif;
    font-size: 1.7em;
}
th{
    color:black;
    font-size: 1.5em;
}

body {
    font-family: 'Merriweather', serif;
    font-size: 5em;
}
 .navbar navbar-default{
    background: blue;
}
#back{
    background-color:rgba(168, 37, 37, 0.877);
}
#p{
    height: 13%;
    width: 15%;
}
#quote{
    position:absolute;
	top:1%;
    left:54%;
    color: white;
}
#tab{
    font-size: 1.5rem;
    color:black;
}
#affix{
    top:0;
    width: 100%;
    z-index: 9999 !important;
}
.search{
    width:26px;
	float:left;
	height:30px;
	width: 100%;
	/* padding: 8px 0; */
	overflow:hidden;
	font-size: 16px;
	border-bottom: 1px solid black;
}
.autocomplete {
    position: relative;
    display: inline-block;
  }
  
  input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
  }
  
  input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
  }
  
  input[type=submit] {
    background-color: DodgerBlue;
    color: #fff;
    cursor: pointer;
  }
  
  .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
  }
  
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #d4d4d4; 
  }
  
  /*when hovering an item:*/
  .autocomplete-items div:hover {
    background-color: #e9e9e9; 
  }
  
  /*when navigating through the items using the arrow keys:*/
  .autocomplete-active {
    background-color: DodgerBlue !important; 
    color: #ffffff; 
  }
  @media(max-width:992px){
  #quote{
    height:unset ;
    width: unset;

  }
  
  
  
  }